body{
    background-color: #16202b;
}
   
.logo{fill:#fff;
    width:100px;
    height:100px}
       
        .form{margin: 0 auto;
            width:500px}
     .btn{border-radius: 30px;}
     .form-control{background-color: #16202b; 
                    border-top: 0px ;
                    border-left: 0px;
                    border-right: 0px;}